[alias]
    a = add
    ap = add -p
    aa = add .
    al = ! git status --short | fzf --multi | sed -E -e 's/^( [A-Z]|[A-Z] |\\?\\?|!!) //g' | xargs git add
    c = commit
    ca = commit --amend
    cm = commit -m
    cam = commit --amend -m
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    d = diff
    dc = diff --cached
    ds = diff --stat
    dw = diff --word-diff
    f = fetch
    forcepush = push --force-with-lease
    gr = grep
    grn = grep --name-only
    l = log
    mg = merge
    s = status -u
    sa = stash apply
    sp = stash pop
    st = stash -u
    l1 = log -n 20 --oneline --no-merges
    l1m = log -n 20 --oneline
    lp = log -p -1
    lpn = log -p -1 --name-only
    rb = rebase
    rb2 = rebase -i HEAD~2
    rb3 = rebase -i HEAD~3
    rb4 = rebase -i HEAD~4
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    unstage = rm --cached
[color]
    ui = true
[user]
    email = hektorg@gmail.com
    name = hekt
[core]
    autocrlf = false
    editor = emacsclient -nw -a nano
    excludesfile = ~/.git.d/.gitignore.global
[push]
    default = simple
